# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
series1 = pd.Series(np.random.randint(1, 5, size=100), name='Random_1_to_4')

print("Random Numbers (1-4):")
print(series1.head())

Random Numbers (1-4):
0    2
1    3
2    2
3    4
4    1
Name: Random_1_to_4, dtype: int32

In [6]:
series2 = pd.Series(np.random.randint(1, 4, size=100), name='Random_1_to_3')

print("Random Numbers (1-3):")
print(series2.head())

Random Numbers (1-3):
0    1
1    3
2    3
3    1
4    1
Name: Random_1_to_3, dtype: int32

In [7]:
series3 = pd.Series(np.random.randint(10000, 30001, size=100), name='Random_10K_to_30K')

print("Random Numbers (10,000-30,000):")
print(series3.head())

Random Numbers (10,000-30,000):
0    14569
1    21270
2    27700
3    22595
4    29359
Name: Random_10K_to_30K, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [8]:
df = pd.concat([series1, series2, series3], axis=1)

print("Combined DataFrame:")
print(df.head())

Combined DataFrame:
   Random_1_to_4  Random_1_to_3  Random_10K_to_30K
0              2              1              14569
1              3              3              21270
2              2              3              27700
3              4              1              22595
4              1              1              29359

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [9]:
bedrs = pd.Series(np.random.randint(1, 5, size=100), name='bedrs')          # 1-4 bedrooms
bathrs = pd.Series(np.random.randint(1, 4, size=100), name='bathrs')        # 1-3 bathrooms
price_sqr_meter = pd.Series(np.random.randint(10000, 30001, size=100),      # 10,000-30,000 price/sqm
                           name='price_sqr_meter')

property_df = pd.concat([bedrs, bathrs, price_sqr_meter], axis=1)

print("Property Data:")
print(property_df.head())

Property Data:
   bedrs  bathrs  price_sqr_meter
0      1       2            16622
1      3       2            17469
2      1       1            16027
3      1       1            21763
4      4       3            29233

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [14]:
bigcolumn = pd.concat([bedrs, bathrs, price_sqr_meter], axis=0).to_frame('bigcolumn')
bigcolumn.head(10)

   bigcolumn
0          1
1          3
2          1
3          1
4          4
5          1
6          2
7          1
8          3
9          4

In [13]:
bigcolumn.tail(10)

    bigcolumn
90      29948
91      19597
92      11180
93      16242
94      14733
95      23144
96      16404
97      25208
98      26939
99      17930

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
#That's correct, it only goes up until index 99.

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [15]:
bigcolumn = pd.concat([bedrs, bathrs, price_sqr_meter], axis=0) \
             .to_frame('bigcolumn') \
             .reset_index(drop=True)

bigcolumn.tail(10)

     bigcolumn
290      29948
291      19597
292      11180
293      16242
294      14733
295      23144
296      16404
297      25208
298      26939
299      17930

In [16]:
bigcolumn.head()

   bigcolumn
0          1
1          3
2          1
3          1
4          4