# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [127]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [128]:
pokemon = {
    "evolution": {
        "description": "Name of the evolved form of the Pokémon",
        "data_type": "string",
        "max_length": 20,
        "nullable": False,
        "example_values": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"]
    },
    "hp": {
        "description": "Hit points or health points of the Pokémon",
        "data_type": "integer",
        "range": "1-100",
        "nullable": False,
        "example_values": [45, 39, 44, 45]
    },
    "name": {
        "description": "Base name of the Pokémon",
        "data_type": "string",
        "max_length": 20,
        "nullable": False,
        "example_values": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"]
    },
    "pokedex": {
        "description": "Whether the Pokémon is registered in the Pokédex",
        "data_type": "boolean (represented as yes/no)",
        "nullable": False,
        "example_values": ["yes", "no"]
    },
    "type": {
        "description": "Primary type of the Pokémon",
        "data_type": "string",
        "max_length": 15,
        "nullable": False,
        "example_values": ["grass", "fire", "water", "bug"]
    }
}

### Step 3. Assign it to a variable called pokemon

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [129]:
pokemon = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

df = pd.DataFrame(pokemon)
                  
df = df[["name", "type", "hp", "evolution", "pokedex"]]

df.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [130]:
pokemon = {
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "type": ["grass", "fire", "water", "bug"],
    "hp": [45, 39, 44, 45],
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "pokedex": ["yes", "no", "yes", "no"]
}

df = pd.DataFrame(pokemon)

df["place"] = ["Amazon Forest", "Iceland", "Swiss Alps", "Convent Gardens"]

df.head()

         name   type  hp   evolution pokedex            place
0   Bulbasaur  grass  45     Ivysaur     yes    Amazon Forest
1  Charmander   fire  39  Charmeleon      no          Iceland
2    Squirtle  water  44   Wartortle     yes       Swiss Alps
3    Caterpie    bug  45     Metapod      no  Convent Gardens

### Step 6. Present the type of each column

In [131]:
print(df.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [132]:

df = pd.DataFrame({
    'Name': ['Ali', 'Amina', 'Fatuma', 'Bashir'],
    'Age': [25, 36, 42, 57],
    'Salary': [50000, 60000, 70000, 80000]
}, index=['a', 'b', 'c', 'd'])

"""
Select the row with index label 'c' and the columns 'Name' and 'Salary'.
Select the first 2 rows and the last column.
"""

"\nSelect the row with index label 'c' and the columns 'Name' and 'Salary'.\nSelect the first 2 rows and the last column.\n"

In [133]:
df = pd.DataFrame({
    'Name': ['Ali', 'Amina', 'Fatuma', 'Bashir'],
    'Age': [25, 36, 42, 57],
    'Salary': [50000, 60000, 70000, 80000]
}, index = ['a', 'b', 'c', 'd'])

df.head()

     Name  Age  Salary
a     Ali   25   50000
b   Amina   36   60000
c  Fatuma   42   70000
d  Bashir   57   80000

In [134]:
df.loc['c', ['Name', 'Salary']]

Name      Fatuma
Salary     70000
Name: c, dtype: object

In [135]:
df.iloc[:2, 2]

a    50000
b    60000
Name: Salary, dtype: int64