# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [51]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [2]:
regiment = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 
                'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 
                'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', 
               '1st', '1st', '2nd', '2nd',
               '1st', '1st', '2nd', '2nd'],
    'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 
             'Cooze', 'Jacon', 'Ryaner', 'Sone', 
             'Sloan', 'Piger', 'Riani', 'Ali'],
    'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]
}

df = pd.DataFrame(regiment)
print(df)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [3]:
mean_by_regiment = df.groupby('regiment')['preTestScore'].mean()
print(mean_by_regiment)

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

### Step 5. Present general statistics by company

In [4]:
df['score_improvement'] = df['postTestScore'] - df['preTestScore']

company_stats = df.groupby('company').agg({
    'preTestScore': ['mean', 'median', 'min', 'max'],
    'postTestScore': ['mean', 'median', 'min', 'max'],
    'score_improvement': ['mean', 'sum']
}).round(2)

company_stats.columns = [
    'Pre-Test Mean', 'Pre-Test Median', 'Pre-Test Min', 'Pre-Test Max',
    'Post-Test Mean', 'Post-Test Median', 'Post-Test Min', 'Post-Test Max',
    'Avg Improvement', 'Total Improvement'
]

print(company_stats)

         Pre-Test Mean  Pre-Test Median  Pre-Test Min  Pre-Test Max  \
company
1st               6.67              3.5             2            24
2nd              15.50             13.5             2            31

         Post-Test Mean  Post-Test Median  Post-Test Min  Post-Test Max  \
company
1st               57.67              66.0             25             94
2nd               67.00              62.0             57             94

         Avg Improvement  Total Improvement
company
1st                 51.0                306
2nd                 51.5                309

### Step 6. What is the mean of each company's preTestScore?

### Step 7. Present the mean preTestScores grouped by regiment and company

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

### Step 10. What is the number of observations in each regiment and company

### Step 11. Iterate over a group and print the name and the whole data from the regiment