# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [23]:
import yfinance as yf
import pandas as pd

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [24]:
start_date= "2015-01-01"
end_date= "2025-07-21"

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [25]:
"""
LinkedIn was acquired by Microsoft in 2016 and is no longer publicly traded

Twitter was taken private by Elon Musk in 2022 (now part of X Corp)
"""
stocks = ['AAPL', 'TSLA', 'IBM', 'META', 'GOOGL']

### Step 4. Read the data from google, assign to df and print it

In [26]:
stocks = ['AAPL', 'TSLA', 'IBM', 'META', 'GOOGL']
start_date = "2015-01-01"
end_date = "2025-07-21"

df = yf.download(
    stocks,
    start=start_date,
    end=end_date,
    auto_adjust=True,  
    progress=False  
)

df.head(30)

Price           Close                                                   High  \
Ticker           AAPL      GOOGL        IBM       META       TSLA       AAPL
Date
2015-01-02  24.288586  26.319653  99.331154  78.021973  14.620667  24.757340
2015-01-05  23.604338  25.818157  97.768173  76.768837  14.006000  24.137518
2015-01-06  23.606560  25.180981  95.659698  75.734512  14.085333  23.866485
2015-01-07  23.937569  25.106926  95.034546  75.734512  14.063333  24.037539
2015-01-08  24.857307  25.194401  97.100082  77.753441  14.041333  24.915069
2015-01-09  24.883965  24.886745  97.523010  77.315842  13.777333  25.159440
2015-01-12  24.270807  24.704840  95.886475  76.301407  13.480667  25.021702
2015-01-13  24.486301  24.940422  96.113266  76.032875  13.616667  25.059471
2015-01-14  24.392996  25.145691  95.494232  75.863800  12.846000  24.546284
2015-01-15  23.730968  25.050264  94.740288  73.645981  12.791333  24.450761
2015-01-16  23.546574  25.370842  96.315536  74.769806  12.871333  23.899806
2015-01-20  24.153063  25.344997  96.199089  75.824028  12.795333  24.208602
2015-01-21  24.337456  25.864382  93.220261  76.321289  13.104667  24.672914
2015-01-22  24.970613  26.704842  95.242958  77.226341  13.441333  24.986165
2015-01-23  25.099463  26.935955  95.537125  77.405350  13.419333  25.270524
2015-01-26  25.126123  26.676014  95.837448  77.077148  13.770000  25.406044
2015-01-27  24.246365  25.904144  94.188683  75.366524  13.732000  24.988374
2015-01-28  25.617086  25.468754  92.889252  75.824028  13.291333  26.241353
2015-01-29  26.414640  25.508514  95.298073  77.574417  13.680000  26.479067
2015-01-30  26.028080  26.717266  93.968018  75.495827  13.573333  26.659009
2015-02-02  26.354650  26.451365  94.795502  74.580849  14.062667  26.474616
2015-02-03  26.359097  26.506035  97.130722  74.988609  14.557333  26.456845
2015-02-04  26.561262  26.148180  96.205208  75.217346  14.570000  26.772314
2015-02-05  26.750841  26.333569  96.787476  75.197464  14.732667  26.815522
2015-02-06  26.525572  26.534861  96.731941  74.063690  14.490667  26.819978
2015-02-09  26.701777  26.306236  96.133247  74.033852  14.498667  26.728540
2015-02-10  27.214754  26.846989  97.867638  74.779762  14.419333  27.243750
2015-02-11  27.852633  26.739634  97.645432  76.092552  14.186667  27.861554
2015-02-12  28.205032  27.137747  97.842949  75.814079  13.525333  28.432529
2015-02-13  28.343315  27.393711  99.003357  75.326752  13.584667  28.387921

Price                                                    ...       Open  \
Ticker          GOOGL         IBM       META       TSLA  ...       AAPL
Date                                                     ...
2015-01-02  26.630290  100.097320  78.499357  14.883333  ...  24.746232
2015-01-05  26.242115   98.846928  78.817595  14.433333  ...  24.057541
2015-01-06  25.905136   98.043992  77.166650  14.280000  ...  23.668764
2015-01-07  25.422036   96.352343  76.937909  14.318667  ...  23.815381
2015-01-08  25.223724   97.480094  77.803171  14.253333  ...  24.266367
2015-01-09  25.278398   98.276909  78.191045  13.998667  ...  25.030588
2015-01-12  24.864879   97.608807  77.574422  13.631333  ...  25.015038
2015-01-13  25.278395   98.050125  77.653986  13.840667  ...  24.755113
2015-01-14  25.261497   95.917151  76.778779  13.013333  ...  24.224155
2015-01-15  25.335552   96.211321  76.152228  13.050000  ...  24.437433
2015-01-16  25.390225   96.615867  74.909041  12.966000  ...  23.777619
2015-01-20  25.626808   96.431997  75.893646  12.941333  ...  23.957562
2015-01-21  25.936947   94.697418  76.878239  13.245333  ...  24.204159
2015-01-22  26.781382   95.445217  77.325794  13.549333  ...  24.495194
2015-01-23  27.107924   96.597498  77.763386  13.566667  ...  24.948395
2015-01-26  26.913589   97.737524  78.041857  13.908000  ...  25.268305
2015-01-27  26.480190   95.059035  76.460520  13.868667  ...  24.975044
2015-01-28  26.127801   94.715771  77.216391  13.758000  ...  26.132494
2015-01-29  25.605930   95.359372  77.594305  13.732000  ...  25.841471
2015-01-30  26.993112   95.150968  77.733550  13.831333  ...  26.303556
2015-02-02  26.665083   94.795502  75.724576  14.130000  ...  26.225800
2015-02-03  26.712296   97.210403  75.167628  14.691333  ...  26.325772
2015-02-04  26.677505   97.277838  75.933419  14.765333  ...  26.325775
2015-02-05  26.376311   97.204270  75.565448  15.032000  ...  26.768683
2015-02-06  26.849970   97.571378  75.286975  14.893333  ...  26.768679
2015-02-09  26.534865   97.213393  74.421723  14.528667  ...  26.440826
2015-02-10  26.888738   97.867638  74.928938  14.700000  ...  26.802139
2015-02-11  26.935956   98.194764  76.331241  14.316000  ...  27.382028
2015-02-12  27.253551   98.447834  76.450587  13.539333  ...  28.115818
2015-02-13  27.462300   99.250242  76.062720  13.732667  ...  28.387921

Price                                                      Volume             \
Ticker          GOOGL        IBM       META       TSLA       AAPL      GOOGL
Date
2015-01-02  26.471242  98.871462  78.151268  14.858000  212818400   26480000
2015-01-05  26.200365  98.846928  77.554527  14.303333  257142000   41182000
2015-01-06  25.869848  97.866239  76.808621  14.004000  263188400   54456000
2015-01-07  25.395198  96.352343  76.341185  14.223333  160423600   46918000
2015-01-08  24.926010  95.763895  76.321295  14.187333  237458000   73054000
2015-01-09  25.257523  97.100092  77.773331  13.928000  214798000   42000000
2015-01-12  24.813189  97.455570  77.415291  13.536667  198603200   57138000
2015-01-13  24.978692  96.389081  76.808626  13.554667  268367600   60958000
2015-01-14  24.871834  94.918076  76.003036  12.388667  195826400   52800000
2015-01-15  25.292809  96.039702  75.983158  12.966000  240056000   51068000
2015-01-16  25.007520  94.280615  73.636027  12.713333  314053200   49658000
2015-01-20  25.485654  96.045852  75.306869  12.924667  199599600   46796000
2015-01-21  25.389728  93.796406  75.744459  12.636667  194303600   46356000
2015-01-22  25.994104  93.128355  76.748957  13.133333  215185600   56068000
2015-01-23  26.741124  95.022268  77.226332  13.352667  185859200   45966000
2015-01-26  26.913589  97.002007  77.554533  13.455333  222460000   30932000
2015-01-27  26.411601  94.967097  76.291450  13.628000  382274800   39148000
2015-01-28  26.093507  94.390924  76.480431  13.740667  585908400   35822000
2015-01-29  25.492112  92.785068  76.430690  13.404667  337745600   79018000
2015-01-30  25.795296  94.335781  77.574420  13.597333  334982000  121108000
2015-02-02  26.556732  94.390975  75.694741  13.598000  250956400   75378000
2015-02-03  26.339035  94.850625  74.779756  14.214667  207662800   47062000
2015-02-04  26.498081  96.358445  74.680292  14.552667  280598800   33896000
2015-02-05  26.239134  96.407464  75.296917  14.658667  168984800   33176000
2015-02-06  26.392217  97.114628  75.267087  14.800000  174826400   42938000
2015-02-09  26.394704  96.287550  73.645980  14.358667  155559200   30314000
2015-02-10  26.448877  96.744275  74.441613  14.503333  248034000   47430000
2015-02-11  26.825618  97.373849  74.680294  14.147333  294247200   38306000
2015-02-12  26.822139  97.966397  76.440639  12.904667  297898000   48590000
2015-02-13  27.212298  98.003441  76.042825  13.526667  217088800   47382000

Price
Ticker           IBM      META       TSLA
Date
2015-01-02   5779673  18177500   71466000
2015-01-05   5104898  26452200   80527500
2015-01-06   6429448  27399300   93928500
2015-01-07   4918083  22045300   44526000
2015-01-08   4431693  23961000   51637500
2015-01-09   4694762  21157000   70024500
2015-01-12   4380230  19190200   89254500
2015-01-13   4578865  25179600   67159500
2015-01-14   4906054  25918600  173278500
2015-01-15   4443826  34134000   78247500
2015-01-16   6020776  21791500   54048000
2015-01-20   8778869  22821600   67548000
2015-01-21  12444367  25096700   62295000
2015-01-22   6401625  19519500   61753500
2015-01-23   5057201  16746500   51579000
2015-01-26   8250953  19260800   48517500
2015-01-27   5919942  20110000   41715000
2015-01-28   4702711  53306400   47244000
2015-01-29   8703557  61293500   53221500
2015-01-30   6865526  42649500   45105000
2015-02-02   4928961  41955300   62238000
2015-02-03   5794212  26957700   72393000
2015-02-04   3847711  20277400   49581000
2015-02-05   5495266  15062600   52843500
2015-02-06   3406299  21211000   48658500
2015-02-09   3198354  16194300   52086000
2015-02-10   4644868  15811300   80857500
2015-02-11   3793528  20877400  146536500
2015-02-12   3486423  17235000  234744000
2015-02-13   3877417  18621900   92865000

[30 rows x 25 columns]

### Step 5.  What is the type of structure of df ?

In [27]:
df_adjusted = yf.download(
    "AAPL",
    start="2015-01-01",
    end="2025-07-21",
    auto_adjust=True,  
    progress=False
)

print(type(df))  
df.head(30)

<class 'pandas.core.frame.DataFrame'>

Price           Close                                                   High  \
Ticker           AAPL      GOOGL        IBM       META       TSLA       AAPL
Date
2015-01-02  24.288586  26.319653  99.331154  78.021973  14.620667  24.757340
2015-01-05  23.604338  25.818157  97.768173  76.768837  14.006000  24.137518
2015-01-06  23.606560  25.180981  95.659698  75.734512  14.085333  23.866485
2015-01-07  23.937569  25.106926  95.034546  75.734512  14.063333  24.037539
2015-01-08  24.857307  25.194401  97.100082  77.753441  14.041333  24.915069
2015-01-09  24.883965  24.886745  97.523010  77.315842  13.777333  25.159440
2015-01-12  24.270807  24.704840  95.886475  76.301407  13.480667  25.021702
2015-01-13  24.486301  24.940422  96.113266  76.032875  13.616667  25.059471
2015-01-14  24.392996  25.145691  95.494232  75.863800  12.846000  24.546284
2015-01-15  23.730968  25.050264  94.740288  73.645981  12.791333  24.450761
2015-01-16  23.546574  25.370842  96.315536  74.769806  12.871333  23.899806
2015-01-20  24.153063  25.344997  96.199089  75.824028  12.795333  24.208602
2015-01-21  24.337456  25.864382  93.220261  76.321289  13.104667  24.672914
2015-01-22  24.970613  26.704842  95.242958  77.226341  13.441333  24.986165
2015-01-23  25.099463  26.935955  95.537125  77.405350  13.419333  25.270524
2015-01-26  25.126123  26.676014  95.837448  77.077148  13.770000  25.406044
2015-01-27  24.246365  25.904144  94.188683  75.366524  13.732000  24.988374
2015-01-28  25.617086  25.468754  92.889252  75.824028  13.291333  26.241353
2015-01-29  26.414640  25.508514  95.298073  77.574417  13.680000  26.479067
2015-01-30  26.028080  26.717266  93.968018  75.495827  13.573333  26.659009
2015-02-02  26.354650  26.451365  94.795502  74.580849  14.062667  26.474616
2015-02-03  26.359097  26.506035  97.130722  74.988609  14.557333  26.456845
2015-02-04  26.561262  26.148180  96.205208  75.217346  14.570000  26.772314
2015-02-05  26.750841  26.333569  96.787476  75.197464  14.732667  26.815522
2015-02-06  26.525572  26.534861  96.731941  74.063690  14.490667  26.819978
2015-02-09  26.701777  26.306236  96.133247  74.033852  14.498667  26.728540
2015-02-10  27.214754  26.846989  97.867638  74.779762  14.419333  27.243750
2015-02-11  27.852633  26.739634  97.645432  76.092552  14.186667  27.861554
2015-02-12  28.205032  27.137747  97.842949  75.814079  13.525333  28.432529
2015-02-13  28.343315  27.393711  99.003357  75.326752  13.584667  28.387921

Price                                                    ...       Open  \
Ticker          GOOGL         IBM       META       TSLA  ...       AAPL
Date                                                     ...
2015-01-02  26.630290  100.097320  78.499357  14.883333  ...  24.746232
2015-01-05  26.242115   98.846928  78.817595  14.433333  ...  24.057541
2015-01-06  25.905136   98.043992  77.166650  14.280000  ...  23.668764
2015-01-07  25.422036   96.352343  76.937909  14.318667  ...  23.815381
2015-01-08  25.223724   97.480094  77.803171  14.253333  ...  24.266367
2015-01-09  25.278398   98.276909  78.191045  13.998667  ...  25.030588
2015-01-12  24.864879   97.608807  77.574422  13.631333  ...  25.015038
2015-01-13  25.278395   98.050125  77.653986  13.840667  ...  24.755113
2015-01-14  25.261497   95.917151  76.778779  13.013333  ...  24.224155
2015-01-15  25.335552   96.211321  76.152228  13.050000  ...  24.437433
2015-01-16  25.390225   96.615867  74.909041  12.966000  ...  23.777619
2015-01-20  25.626808   96.431997  75.893646  12.941333  ...  23.957562
2015-01-21  25.936947   94.697418  76.878239  13.245333  ...  24.204159
2015-01-22  26.781382   95.445217  77.325794  13.549333  ...  24.495194
2015-01-23  27.107924   96.597498  77.763386  13.566667  ...  24.948395
2015-01-26  26.913589   97.737524  78.041857  13.908000  ...  25.268305
2015-01-27  26.480190   95.059035  76.460520  13.868667  ...  24.975044
2015-01-28  26.127801   94.715771  77.216391  13.758000  ...  26.132494
2015-01-29  25.605930   95.359372  77.594305  13.732000  ...  25.841471
2015-01-30  26.993112   95.150968  77.733550  13.831333  ...  26.303556
2015-02-02  26.665083   94.795502  75.724576  14.130000  ...  26.225800
2015-02-03  26.712296   97.210403  75.167628  14.691333  ...  26.325772
2015-02-04  26.677505   97.277838  75.933419  14.765333  ...  26.325775
2015-02-05  26.376311   97.204270  75.565448  15.032000  ...  26.768683
2015-02-06  26.849970   97.571378  75.286975  14.893333  ...  26.768679
2015-02-09  26.534865   97.213393  74.421723  14.528667  ...  26.440826
2015-02-10  26.888738   97.867638  74.928938  14.700000  ...  26.802139
2015-02-11  26.935956   98.194764  76.331241  14.316000  ...  27.382028
2015-02-12  27.253551   98.447834  76.450587  13.539333  ...  28.115818
2015-02-13  27.462300   99.250242  76.062720  13.732667  ...  28.387921

Price                                                      Volume             \
Ticker          GOOGL        IBM       META       TSLA       AAPL      GOOGL
Date
2015-01-02  26.471242  98.871462  78.151268  14.858000  212818400   26480000
2015-01-05  26.200365  98.846928  77.554527  14.303333  257142000   41182000
2015-01-06  25.869848  97.866239  76.808621  14.004000  263188400   54456000
2015-01-07  25.395198  96.352343  76.341185  14.223333  160423600   46918000
2015-01-08  24.926010  95.763895  76.321295  14.187333  237458000   73054000
2015-01-09  25.257523  97.100092  77.773331  13.928000  214798000   42000000
2015-01-12  24.813189  97.455570  77.415291  13.536667  198603200   57138000
2015-01-13  24.978692  96.389081  76.808626  13.554667  268367600   60958000
2015-01-14  24.871834  94.918076  76.003036  12.388667  195826400   52800000
2015-01-15  25.292809  96.039702  75.983158  12.966000  240056000   51068000
2015-01-16  25.007520  94.280615  73.636027  12.713333  314053200   49658000
2015-01-20  25.485654  96.045852  75.306869  12.924667  199599600   46796000
2015-01-21  25.389728  93.796406  75.744459  12.636667  194303600   46356000
2015-01-22  25.994104  93.128355  76.748957  13.133333  215185600   56068000
2015-01-23  26.741124  95.022268  77.226332  13.352667  185859200   45966000
2015-01-26  26.913589  97.002007  77.554533  13.455333  222460000   30932000
2015-01-27  26.411601  94.967097  76.291450  13.628000  382274800   39148000
2015-01-28  26.093507  94.390924  76.480431  13.740667  585908400   35822000
2015-01-29  25.492112  92.785068  76.430690  13.404667  337745600   79018000
2015-01-30  25.795296  94.335781  77.574420  13.597333  334982000  121108000
2015-02-02  26.556732  94.390975  75.694741  13.598000  250956400   75378000
2015-02-03  26.339035  94.850625  74.779756  14.214667  207662800   47062000
2015-02-04  26.498081  96.358445  74.680292  14.552667  280598800   33896000
2015-02-05  26.239134  96.407464  75.296917  14.658667  168984800   33176000
2015-02-06  26.392217  97.114628  75.267087  14.800000  174826400   42938000
2015-02-09  26.394704  96.287550  73.645980  14.358667  155559200   30314000
2015-02-10  26.448877  96.744275  74.441613  14.503333  248034000   47430000
2015-02-11  26.825618  97.373849  74.680294  14.147333  294247200   38306000
2015-02-12  26.822139  97.966397  76.440639  12.904667  297898000   48590000
2015-02-13  27.212298  98.003441  76.042825  13.526667  217088800   47382000

Price
Ticker           IBM      META       TSLA
Date
2015-01-02   5779673  18177500   71466000
2015-01-05   5104898  26452200   80527500
2015-01-06   6429448  27399300   93928500
2015-01-07   4918083  22045300   44526000
2015-01-08   4431693  23961000   51637500
2015-01-09   4694762  21157000   70024500
2015-01-12   4380230  19190200   89254500
2015-01-13   4578865  25179600   67159500
2015-01-14   4906054  25918600  173278500
2015-01-15   4443826  34134000   78247500
2015-01-16   6020776  21791500   54048000
2015-01-20   8778869  22821600   67548000
2015-01-21  12444367  25096700   62295000
2015-01-22   6401625  19519500   61753500
2015-01-23   5057201  16746500   51579000
2015-01-26   8250953  19260800   48517500
2015-01-27   5919942  20110000   41715000
2015-01-28   4702711  53306400   47244000
2015-01-29   8703557  61293500   53221500
2015-01-30   6865526  42649500   45105000
2015-02-02   4928961  41955300   62238000
2015-02-03   5794212  26957700   72393000
2015-02-04   3847711  20277400   49581000
2015-02-05   5495266  15062600   52843500
2015-02-06   3406299  21211000   48658500
2015-02-09   3198354  16194300   52086000
2015-02-10   4644868  15811300   80857500
2015-02-11   3793528  20877400  146536500
2015-02-12   3486423  17235000  234744000
2015-02-13   3877417  18621900   92865000

[30 rows x 25 columns]

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [28]:
stocks = ['AAPL', 'TSLA', 'IBM', 'META', 'GOOGL']

df = yf.download(
    tickers=stocks,
    start="2015-01-01",
    end="2025-07-21",
    auto_adjust=True,
    progress=False,
    threads=True 
)

print("=== Date Index Values ===")
print(df.index.values)

print("\n=== MultiIndex Columns ===")
print("First level:", df.columns.levels[0].values)  
print("Second level:", df.columns.levels[1].values) 

print("\nAll column tuples:")
for col in df.columns:
    print(col)

=== Date Index Values ===
['2015-01-02T00:00:00.000000000' '2015-01-05T00:00:00.000000000'
 '2015-01-06T00:00:00.000000000' ... '2025-07-16T00:00:00.000000000'
 '2025-07-17T00:00:00.000000000' '2025-07-18T00:00:00.000000000']

=== MultiIndex Columns ===
First level: ['Close' 'High' 'Low' 'Open' 'Volume']
Second level: ['AAPL' 'GOOGL' 'IBM' 'META' 'TSLA']

All column tuples:
('Close', 'AAPL')
('Close', 'GOOGL')
('Close', 'IBM')
('Close', 'META')
('Close', 'TSLA')
('High', 'AAPL')
('High', 'GOOGL')
('High', 'IBM')
('High', 'META')
('High', 'TSLA')
('Low', 'AAPL')
('Low', 'GOOGL')
('Low', 'IBM')
('Low', 'META')
('Low', 'TSLA')
('Open', 'AAPL')
('Open', 'GOOGL')
('Open', 'IBM')
('Open', 'META')
('Open', 'TSLA')
('Volume', 'AAPL')
('Volume', 'GOOGL')
('Volume', 'IBM')
('Volume', 'META')
('Volume', 'TSLA')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [29]:
stocks = ["AAPL", "TSLA", "IBM", "META", "GOOGL"]
df = yf.download(stocks, start="2015-01-01", end="2025-07-21", auto_adjust=True)

volume = df['Volume'].copy()  
print(volume.head(10))

[*********************100%***********************]  5 of 5 completed

Ticker           AAPL     GOOGL      IBM      META       TSLA
Date
2015-01-02  212818400  26480000  5779673  18177500   71466000
2015-01-05  257142000  41182000  5104898  26452200   80527500
2015-01-06  263188400  54456000  6429448  27399300   93928500
2015-01-07  160423600  46918000  4918083  22045300   44526000
2015-01-08  237458000  73054000  4431693  23961000   51637500
2015-01-09  214798000  42000000  4694762  21157000   70024500
2015-01-12  198603200  57138000  4380230  19190200   89254500
2015-01-13  268367600  60958000  4578865  25179600   67159500
2015-01-14  195826400  52800000  4906054  25918600  173278500
2015-01-15  240056000  51068000  4443826  34134000   78247500

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [30]:
weekly_volume = df['Volume'].resample('W-MON').sum()

weekly_volume.index = weekly_volume.index.to_series().apply(
    lambda x: f"{x.year}-W{x.isocalendar().week:02d}"
)

print("Top 5 Highest Volume Weeks:")
for ticker in stocks:
    print(f"\n{ticker}:")
    print(weekly_volume[ticker].sort_values(ascending=False).head(5))

Top 5 Highest Volume Weeks:

AAPL:
Date
2015-W06    1891867200
2015-W35    1767322400
2020-W12    1652518400
2020-W13    1634592800
2015-W36    1577544000
Name: AAPL, dtype: int64

TSLA:
Date
2020-W07    2864941500
2020-W13    1840744500
2020-W06    1820700000
2020-W03    1754158500
2020-W29    1677624000
Name: TSLA, dtype: int64

IBM:
Date
2018-W45    79985110
2021-W04    78748946
2018-W04    66333973
2017-W43    63204549
2022-W30    62717500
Name: IBM, dtype: int64

META:
Date
2022-W44    570831000
2018-W13    489919900
2022-W06    442558000
2018-W31    382581100
2022-W45    380300100
Name: META, dtype: int64

GOOGL:
Date
2015-W30    588538000
2016-W06    570848000
2020-W13    416852000
2020-W12    379850000
2022-W06    376334000
Name: GOOGL, dtype: int64

### Step 9. Find all the volume traded in the year of 2015

In [31]:
volume_2015 = df['Volume']

annual_volume = volume_2015.sum()

print("Total Volume Traded in 2015:")
print(annual_volume)

Total Volume Traded in 2015:
Ticker
AAPL     302301203100
GOOGL     93427164800
IBM       12670473579
META      59687292100
TSLA     297210503900
dtype: int64

### BONUS: Create your own question and answer it.

calculate and visualize the monthly average trading volume for Apple (AAPL) and Tesla (TSLA) in 2020, highlighting months with unusually high activity (above 1.5x the yearly average)?"

In [33]:
df = yf.download(['AAPL', 'TSLA'], start='2020-01-01', end='2020-12-31', auto_adjust=True)['Volume']

# Calculate monthly averages
monthly_avg = df.resample('ME').mean()

# Calculate yearly average
yearly_avg = df.mean()

# Identify high-activity months (1.5x yearly average)
high_activity = monthly_avg > 1.5 * yearly_avg

print("\nHigh Activity Months (>1.5x Yearly Avg):")
print(monthly_avg[high_activity])

[*********************100%***********************]  2 of 2 completed

High Activity Months (>1.5x Yearly Avg):
Ticker              AAPL          TSLA
Date
2020-01-31           NaN           NaN
2020-02-29           NaN  3.730948e+08
2020-03-31  2.854578e+08           NaN
2020-04-30           NaN           NaN
2020-05-31           NaN           NaN
2020-06-30           NaN           NaN
2020-07-31           NaN           NaN
2020-08-31           NaN           NaN
2020-09-30           NaN           NaN
2020-10-31           NaN           NaN
2020-11-30           NaN           NaN
2020-12-31           NaN           NaN